*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section {
	display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
}
body {
	overflow-y: scroll;
	background: #fff;
}
html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
ol, ul {
	list-style: none;
}
::selection {
	background: #f9edbe;
}
#account-container section {
	margin-bottom: 2.25em;
	padding-bottom: 2.18em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}
#account-container {
	width: 87%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12em;
	background: rgba(255,255,255,0.09);
	box-shadow: 0px 2px 10px rgba(0,0,0,0.22);
	border-radius: 2px;
}
.compact {
	position: relative;
	max-width: 64.5em;
	margin: auto;
}
.compact, #masthead {
	min-width: inherit;
}
.tab-content {
	margin-top: -4.5em;
}
.compact::after, .row::after {
	content: "";
	display: block;
	width: 100%;
	height: 0px;
	clear: both;
}
#page .page-scroll {
	position: relative;
	min-height: 100%;
}
body, button, input, select, textarea, #page {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	color: #555a5e;
}
#page {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
#page {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
#page::after {
	opacity: 1 !important;
	background-image: url('/assets/img/bg-dark.jpg') !important;
}
#page::before {
	display: block;
	content: "";
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -99;
	width: 100%;
	height: 100%;
	background: #012b4a;
}
#page::after {
	display: block;
	content: "";
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -9;
	width: 100%;
	height: 100%;
	background: url(//d1xem3lp7f2hdd.cloudfront.net/assets/img/bg-a586d983293fb331cb1f81d06ea1592c.jpg) center center fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	opacity: 0.5;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.col12 {
	width: 100%;
}
.col6 {
	width: 48.83%;
}
.col10 {
	width: 82.94%;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float: left;
	margin-right: 2.32%;
}
.clear::after, .center::after {
	clear: both;
}
.row :last-child.col1, .row :last-child.col2, .row :last-child.col3, .row :last-child.col4, .row :last-child.col5, .row :last-child.col6, .row :last-child.col7, .row :last-child.col8, .row :last-child.col9, .row :last-child.col10, .row :last-child.col11, .row :last-child.col12 {
	margin-right: 0px !important;
}
#account-container .account-table {
	padding: 0 8.5271317829%;
	color: #fff;
}
img {
	height: auto;
	max-width: 100%;
	border-radius: 2px;
}
.section-account :nth-child(2).col6 img {
	display: block;
	margin: 0 auto 0.7em;
}
p {
	margin-bottom: 1.5em;
}
p:last-child {
	margin-bottom: 0px;
}
ul, ol {
	margin: 0 0 1.5em;
}
#account-container .account-table p, #account-container .account-table ul, #account-container .account-table ol {
	margin-bottom: 1.33em;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.3333;
}
a, a:visited {
	text-decoration: none;
	color: #528fcc;
}
a, li, input, textarea, button {
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
a, button {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.btn, button, input, select, textarea {
	display: inline-block;
	margin: 0;
	vertical-align: baseline;
	font-size: 100%;
}
.btn, button, input[type='button'], input[type='reset'], input[type='submit'] {
	margin: 0.375em auto;
	padding: 0.375em 0.75em;
	background: #9199a1;
	border: none;
	border-radius: 2px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	cursor: pointer;
}
.btn-orange {
	background: #d98c48;
}
a.btn, button {
	min-width: 5.5em;
	padding: 0.375em 1.125em;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.875);
}
.account-table .row a.btn {
	min-width: 12em;
	padding: 0.313em 1.125em;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.36);
	margin: 0 auto 1.333333333em;
	padding: 0.3333333333em 1.333333333em;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.3333;
	text-shadow: none;
	color: #fff;
}
.section-account :nth-child(2).col6 .btn-orange, .section-account :nth-child(2).col6 .btn-orange:hover {
	background: #dd7d40;
	border-color: #dd7d40;
	color: #fff;
}
.small-text {
	font-size: 1.4rem;
	font-size: 14px;
	line-height: 1.7142;
}
p.small-text {
	margin-bottom: 1.71em;
}
#account-container .account-table p.small-text {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5;
}
b, strong {
	font-weight: bold;
}
#account-container .account-table p strong {
	font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-rendering: optimizeLegibility;
	color: #3e4245;
}
h2 {
	margin-bottom: 1em;
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1;
}
#account-container .account-table h2.section-subtitle {
	margin-bottom: 0.75em;
	font-size: 32px;
	font-size: 3.2rem;
	font-weight: 300;
	line-height: 1.125;
	color: #fff;
}
#account-container .account-table p.intro {
	font-weight: 400;
}
ul {
	list-style: disc;
}
#account-container .account-table li {
	margin-left: 1.25em;
}
.center, .row .col1.center, .row .col2.center, .row .col3.center, .row .col4.center, .row .col5.center, .row .col6.center, .row .col7.center, .row .col8.center, .row .col9.center, .row .col10.center, .row .col11.center {
	display: block;
	float: none !important;
	margin: 0 auto !important;
}
.clear::before, .clear::after, .center::before, .center::after {
	content: "";
	display: table;
}
.section-header {
	margin-bottom: 1.5em;
	padding-bottom: 0.68em;
	border-bottom: 1px solid #c5c7c9;
}
#account-container .section-header {
	margin-bottom: 1.5em;
	padding-bottom: 0px;
	border-bottom-width: 0px;
}
h1 {
	margin-bottom: 0.75em;
	font-size: 32px;
	font-size: 3.2rem;
	line-height: 1.5;
}
.section-title {
	margin-bottom: 0px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #fff;
}
#account-container .section-account .section-title {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.3333;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
}